name: Spec

on:
  push:
    branches:
      - main
  pull_request:

env:
  GITHUB_ACTIONS: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '2.7'
          - '3.0'
          - '3.1'
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: RSpec
      run: bundle exec rake spec
    - uses: joshmfrankel/simplecov-check-action@main
      with:
        check_job_name: Coverage on Ruby ${{ matrix.ruby }}
        minimum_suite_coverage: 99
        github_token: ${{ secrets.GITHUB_TOKEN }}
